{% extends 'expenses/base.html' %}


{% block content %}

<div style="display: flex; justify-content: center; margin-top:150px;">
<form method="POST" style="display: inline-block; padding:70px 40px 70px 40px; border-radius: 40px; background-color: rgb(154, 190, 219);">
    {% csrf_token %}
    <div class="mb-5">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
      </div>
  
      <div class="mb-5">
        {{ form.password.label_tag }}
        {{ form.password }}
        {{ form.password.errors }}
      </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>
</div>

{% endblock %}